@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.banner {
    background-color: rgb(51, 50, 67);
    background-image: url('../1112.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: right;
    width: 100%;
    overflow: hidden;
    height: 650px;

    .title {
        color: #E9E9E9;
        width: 300px;
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        margin-top: 230px;
        margin-left: 50px;

        button {
            background: #C0CDE9;
            border: #C0CDE9;
            border-radius: 40px;
            color: rgb(51, 50, 67);
            width: 150px;
        }

    }

}