@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.banner {
    background-color: rgb(51, 50, 67);
    background-image: url('../1112.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: right;
    width: 100%;
    overflow: hidden;
    height: 650px;

    .title {
        margin-top: 230px;
    }

}