.section-three {
    background-color: rgb(51, 50, 67);
    width: 100%;
    height: 400px;
    overflow: hidden;

    .title {
        margin-top: 110px;
        width: 500px;
    }

    .road {
        height: 40px;
        margin-top: -10px;
        margin-right: 15px;
    }

    img {
        height: 350px;
        margin-top: 23px;
    }
}